.Board {
  position: absolute;
  width: auto;
  min-width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
  left: 0;
  transition: $transition-layout;


  @include breakpoint-up(medium) {
    left: $sidebar-width;
  }

  &__columns {
    display: flex;
    column-gap: 1.5rem;
    width: 100%;
    height: 100%;
  }

  &__column {
    width: 17.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 0.75rem;
      font-weight: 700;
      color: $gray-400;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }

    &-color {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 12px;
      border-radius: 50%;

      &--1 {
        background-color: #49C4E5;
      }

      &--2 {
        background-color: #8471F2;
      }

      &--3 {
        background-color: #67E2AE;
      }

      &--4 {
        background-color: #e5a449;
      }

      &--5 {
        background-color: #2a3fdb;
      }

      &--6 {
        background-color: #c36e6e;
      }
    }

    &-adding {
      position: relative;
      height: calc(100% - 37px);
      top: 37px;
      background: linear-gradient(to bottom,rgba(121,132,147,.2),rgba(130,143,163,.1),rgba(130,143,163,0));
      border-radius: 8px;
      cursor: pointer;

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: clamp(1.2rem, 3vw, 1.5rem);
        font-weight: 700;
        color: $gray-400;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.3125rem;
        transition: $transition;
      }

      &:hover {
        button {
          color: $purple-700;
        }
      }
    }

    &-empty {
      .Board__tasks {
        outline: 2px dashed $gray-500;
      }
    }
  }

  &__tasks {
    flex: 1;
    border-radius: 6px;
  }

  &__task {
    padding: 1.5rem 1rem;
    background-color: var(--bckg-weak);
    border: 1px solid var(--border-line);
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    h3 {
      color: var(--title);
      margin-bottom: 8px;
    }

    h4 {
      color: $gray-400;
    }
  }

  &__no-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: var(--title);
      margin-bottom: 1rem;
    }
  }

  &__flex-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    @include breakpoint-up(medium) {
      width: calc(100vw - $sidebar-width);
    }
  }

  &__is-full {
    @include breakpoint-up(medium) {
      left: 0;
    }

    .Board__flex-content {
      width: 100vw;
    }
  }
}
