.Sidebar {
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  height: 100%;
  padding-top: $navbar-height;
  background-color: var(--bckg-weak);
  border-right: 1px solid var($--border-line);
  z-index: 1;
  transition: $transition-layout;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 0 2rem;

    .BoardsList {
      overflow-y: auto;
    }

    .Sidebar__manage {
      padding: 0 2rem;
    }

    .Sidebar__hideButton {
      font-weight: 700;
      color: $gray-400;
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      margin-top: 1rem;
      transition: $transition;
  
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__is-visible {
    left: 0;
  }
}