.Dropdown {
  position: relative;

  &__options {
    position: absolute;
    top: calc(100% + 10px);
    width: max-content; 
    padding: 1.25rem 1.5rem;
    background-color: var(--dropdown);
    border-radius: 10px;
    box-shadow: 0 0 8px #364e7e1a;
    z-index: 1;

    &-left {
      left: 0;
    }

    &-center {
      left: 50%;
      transform: translateX(-50%);
    }

    &-right {
      right: 0;
    }
  }

  &__option {
    &:not(:last-child) {
      margin-bottom: 1.125rem;
    }

    button {
      width: 100%;
      font-weight: 500;
      color: #828fa3;
      cursor: pointer;
      transition: $transition;
      
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__select-options {
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
  }

  &__select-option {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    
    button {
      width: 100%;
      font-size: 0.8125rem;
      font-weight: 500;
      color: $gray-400;
      cursor: pointer;
      transition: $transition;
      @extend .ellipsis-text;
  
      &:hover {
        font-weight: 700;
        color: var(--title);
      }
    }
  }

  &__ellipsis-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $gray-400;
    width: 1.375rem;
    height: 2.375rem;
    padding: 1px 0.25rem 1px 0.3125rem;
    border-radius: 10px;
    transform: scale(0.8);
    transition: $transition;

    @include breakpoint-up(medium) {
      transform: scale(1);
    }

    &:hover {
      background-color: var(--icon-button);
    }
  }
}