.Form {
  &__input, &__textarea {
    font-size: 0.8125rem;
    height: 2.5rem;
    color: var(--title);
    background-color: transparent;
    padding: 0.5rem 1rem 0.5625rem;
    border: 2px solid $gray-500;
    border-radius: 4px;
    transition: border 0.2s ease;

    &:focus {
      border-color: $purple-700;
    }
  }

  &__textarea {
    height: 100px;
    resize: none;
  }

  &__input-holder {
    position: relative;
  }

  &__input-disabled {
    opacity: 0.3;
  }

  &__input-error input {
    border-color: $red;

    &:focus {
      border-color: $red;
    }
  }

  &__error {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    font-size: 0.75rem;
    font-weight: 700;
    color: $red;
  }

  &__label {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--sub-title);
    text-transform: capitalize;
    margin-bottom: 0.625rem;
  }
}

.FormClearableInput {
  &__input {
    display: flex;
    column-gap: 0.625rem;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &-add {
      margin-top: 1rem;
      text-transform: capitalize;
    }
  
    &-remove {
      line-height: 1;

      svg path {
        fill: $gray-400;
      }
    }
  }

  .Form__input-holder {
    flex: 1;
  }
}

.FormCheckbox {
  &__checkbox {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    width: 100%;
    padding: 0.75rem;
    color: var(--title);
    background-color: var(--bckg-strong);
    border-radius: 8px;
    text-decoration: line-through;
    text-decoration-color: transparent;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: rgba(99, 95, 199, 0.25);
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &-checked {
      color: var(--checked);
      text-decoration-color: currentColor;
    }
  }

  &__input {
    display: grid;
    place-content: center;
    width: 1rem;
    height: 1rem;
    appearance: none;
    background-color: var(--bckg-weak);
    margin-right: 1rem;
    border: 1px solid $gray-500;
    border-radius: 2px;

    &::before {
      content: "";
      width: 0.625rem;
      height: 0.625rem;
      clip-path: polygon(14% 40%,0 65%,50% 100%,100% 16%,80% 0%,43% 62%);
      background-color: $white;
      transform: scale(0);
      transform-origin: bottom left;
      transition: transform 0.12s ease-in-out;
    }

    &:checked {
      background-color: $purple-700;

      &::before {
        transform: scale(1);
      }
    }
  }
}

.FormSelect {
  &__trigger {
    position: relative;
    width: 100%;
    font-size: 0.8125rem;
    font-weight: 500;
    height: 2.5rem;
    color: var(--title);
    background-color: transparent;
    padding: 0.5rem 2rem 0.5625rem 1rem;
    border: 2px solid $gray-500;
    border-radius: 4px;
    transition: border 0.2s ease;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      @extend .ellipsis-text;
    }

    svg {
      position: absolute;
      right: 1rem;
      transition: $transition;
    }
  }

  &__trigger.active {
    border-color: $purple-700;

    svg {
      transform: rotate(180deg);
    }
  }
}