.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__content {
    width: 100%;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    background-color: var(--bckg-weak);
    border-radius: 10px;
    // overflow-y: auto;
    opacity: 0;

    &.fade-out {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include breakpoint-up(medium) {
      max-width: 30rem;
      height: auto;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &-title {
      color: var(--title);
    }

    &-description {
      font-size: 0.8125rem;
      line-height: 23px;
      margin-bottom: 1.5rem;
    }

    &-box:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__close {
    position: absolute;
    top: 0.9375rem;
    right: 0.9375rem;
    cursor: pointer;

    svg path {
      fill: $gray-400;
    }
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}