$--bckg-strong: --bckg-strong;
$--bckg-weak: --bckg-weak;
$--title: --title;
$--border-line: --border-line;
$--dropdown: --dropdown;
$--icon-button: --icon-button;

$theme-map-light: (
  $--bckg-strong: $gray-200,
  $--bckg-weak: $white,
  $--title: $dark-700,
  $--border-line: $gray-300,
  $--dropdown: $white,
  $--icon-button: $gray-300
);

$theme-map-dark: (
  $--bckg-strong: $dark-500,
  $--bckg-weak: $dark-400,
  $--title: $white,
  $--border-line: $dark-300,
  $--dropdown: $dark-500,
  $--icon-button: $dark-500
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

.App__light {
  @include spread-map($theme-map-light);
}

.App__dark {
  @include spread-map($theme-map-dark);
}